.title{
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
    font-weight: bold;
}
.taskName-input{
    width: 450px;
    height: 45px;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 10px;
    font-size: 20px;
}
.desc-input{
    width: 599px;
    height: 45px;
    margin-top: 15px;
    border-radius: 5px;
    border: 1px solid gray;
    font-size: 20px;
    padding-left: 10px;
}
.taskList{
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
    font-weight: bold;
}
.box{
    width: 613px;
}
.todoList{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
